/* h1 {
        background-color: blue;
        color: white;
        text-align: center;
    }

    p {
        background-color: lightblue;
    }

    body{
        background-color: lightgray;
    } */

    .bg-red-h1{
        background-color: red;
    }
    .bg-blue-p{
        background-color: blue;
    }
    #pg-background{
        background-color: lightblue;
    }